


.nav-scrollY {
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.navbar-toggler-icon {
    display: block;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
}
  
.navbar-toggler-icon:focus {
  text-decoration: none;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
  
.navbar-toggler-icon:hover,
.navbar-toggler-icon:active {
  background-color: rgba(0, 0, 0, 0.5);
}
  
  

.footer {
  background-color: #343a40;
}

.pic-slide img {
  width: 230px;
  height: 230px;
  border-radius: 10px;
}

.pic-slide img:hover {
  scale: 1.2;
}